@import "tailwindcss";

:root {
  /* Background */
  --bg: #ffffff;
  --bg-secondary: #616161;

  /* Border */
  --border: #c6c6c6;

  /* Text */
  --text: #0f0f0f;
  --text-hover: #0f0f0f;
  --text-secondary: #ffffff;
  --text-tertiary: #606060;
  --text-selected: #f1f1f1;

  /* Button */
  --btn: #0000000d;
  --btn-active: #0000000d;
  --btn-hover: #0000001a;
  --btn-action: #065fd4;
  --btn-action-hover: #def1ff;
  --btn-secondary: #ffffff;
  --btn-secondary-hover: #0000001a;
  --btn-selected: #0f0f0f;

  /* Shadow */
  --shadow: #eee;
  --sidebar-shadow: rgba(0, 0, 0, 0.1);
  --elevation-rgb: 0, 0, 0;

  /* Scrollbar */
  --scrollbar: rgba(32, 33, 34, 0.2);
  --scrollbar-hover: rgba(20, 21, 22, 0.4);
}

@theme inline {
  /* Background */
  --color-background: var(--bg);
  --color-background-secondary: var(--bg-secondary);

  /* Border */
  --color-border: var(--border);

  /* Text */
  --color-foreground: var(--text);
  --color-foreground-hover: var(--text-hover);
  --color-foreground-secondary: var(--text-secondary);
  --color-foreground-tertiary: var(--text-tertiary);
  --color-foreground-selected: var(--text-selected);

  /* Button */
  --color-btn: var(--btn);
  --color-btn-active: var(--btn-active);
  --color-btn-hover: var(--btn-hover);
  --color-btn-action: var(--btn-action);
  --color-btn-action-hover: var(--btn-action-hover);
  --color-btn-secondary: var(--btn-secondary);
  --color-btn-secondary-hover: var(--btn-secondary-hover);
  --color-btn-selected: var(--btn-selected);

  /* Shadow */
  --color-shadow: var(--shadow);
  --color-sidebar-shadow: var(--sidebar-shadow);
  --color-elevation-rgb: var(--elevation-rgb);

  /* Scrollbar */
  --color-scrollbar: var(--scrollbar);
  --color-scrollbar-hover: var(--scrollbar-hover);

  /* Font */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
