@import "tailwindcss";

:root {
  --foreground: #171717;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #616161;
  --color-border-primary: #c6c6c6;
  --color-text-primary: #0f0f0f;
  --color-text-hover-primary: #0f0f0f;
  --color-text-secondary: #ffffff;
  --color-text-tertiary: #606060;
  --color-shadow-zinc-200: #eee;
  --color-btn-primary: #0000000d;
  --color-btn-primary-active: #0000000d;
  --color-btn-hover-primary: #0000001a;
  --color-sidebar-shadow-line: rgba(0, 0, 0, 0.1);
  --color-scrollbar-thumb: rgba(32, 33, 34, 0.2);
  --color-scrollbar-thumb-hover: rgba(20, 21, 22, 0.4);
  --color-elevation-shadow-rgb: 0, 0, 0;
  --color-btn-action:#065fd4;
}

@theme inline {
  /* Backgrounds */
  --color-background: var(--color-bg-primary);
  --color-background-secondary: var(--color-bg-secondary);

  /* Borders */
  --color-border: var(--color-border-primary);

  /* Text */
  --color-foreground: var(--color-text-primary);
  --color-foreground-hover: var(--color-text-hover-primary);
  --color-foreground-secondary: var(--color-text-secondary);
  --color-foreground-tertiary: var(--color-text-tertiary);

  /* Buttons */
  --color-btn: var(--color-btn-primary);
  --color-btn-active: var(--color-btn-primary-active);
  --color-btn-hover: var(--color-btn-hover-primary);
  --color-btn-action:var(--color-btn-action);

  /* Shadows & misc */
  --color-shadow: var(--color-shadow-zinc-200);
  --color-sidebar-shadow: var(--color-sidebar-shadow-line);
  --color-scrollbar: var(--color-scrollbar-thumb);
  --color-scrollbar-hover: var(--color-scrollbar-thumb-hover);
  --color-elevation-rgb: var(--color-elevation-shadow-rgb);
  /*  */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-bg-primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}